body {
  background-color: DarkSeaGreen;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

footer {
  background-color: black;
  color: DarkGrey;
  font-size: 8 px;
  position: absolute;
  bottom: 0;
  width: 100 %;
  height: 2.5 rem;            /* Footer height */
}

.player {
  width: 20 px;
    height: 20 px;
}

#player-tagger {
  background-color: DeepPink;
}

#player-runner {
  background-color: DodgerBlue;
}
