body {
  background-color: DarkSeaGreen;
}

h1, p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

footer {
  background-color: black;
  color: DarkGrey;
  font-size: 8 px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5 rem;            /* Footer height */
}

footer > p {
  padding-left: 200 px;
}

.grid{
  display: grid;
  grid-template-columns: repeat (auto-fill, minmax (200 px, 1 fr));
  grid-auto-rows: minmax (200 px, auto);
  grid-gap: 1 em;
}

.gridUnit{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200 px;
  height: 200 px;
  background-color: Black
}

.player {
}

.tagger {
    color: DeepPink;
}

.runner{
    color: DodgerBlue;
}

#scores {
  font-size: 25 px;
}

#tagger-points {
  display: inline-block;
}

#runner-points {

  display: inline-block;
}

#player-tagger {
  background-color: DeepPink;
}

#player-runner {
  background-color: DodgerBlue;
}
