body {
  background-color: DarkSeaGreen;
}

h1, p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

footer {
  background-color: black;
  color: DarkGrey;
  font-size: 8 px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5 rem;            /* Footer height */
}

footer > p {
  padding-left: 200 px;
}

.player {
  width: 20 px;
    height: 20 px;
}

#scores: {
  font-size: 25 px;
}

#tagger-points {
  color: DeepPink;
}

#runner-points {
  color: DodgerBlue;
}

#player-tagger {
  background-color: DeepPink;
}

#player-runner {
  background-color: DodgerBlue;
}
